In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('data/raw/used_cars.csv')
cars.head()

,year,manufacturer,condition,cylinders,fuel,title_status,transmission,drive,size,type,paint_color,price
0,2009,chevrolet,good,8 cylinders,gas,clean,automatic,rwd,full-size,SUV,white,9000
1,2002,gmc,good,8 cylinders,gas,clean,automatic,4wd,NaN,pickup,white,6000
2,2007,pontiac,excellent,4 cylinders,gas,clean,automatic,fwd,compact,convertible,red,7000
3,2012,chevrolet,excellent,8 cylinders,diesel,clean,automatic,4wd,full-size,pickup,silver,37000
4,2003,NaN,fair,8 cylinders,gas,clean,automatic,4wd,NaN,pickup,silver,3700

### **Fill na values**

In [3]:
# Percent values
cars.isna().sum() / len(cars)

year            0.000000
manufacturer    0.036461
condition       0.368606
cylinders       0.283064
fuel            0.008395
title_status    0.006630
transmission    0.009891
drive           0.132802
size            0.581336
type            0.115667
paint_color     0.197346
price           0.000000
dtype: float64

In [4]:
# Fill na with mode
for column in cars.columns:
    if cars[column].isna().sum() / len(cars) < 0.10:
        cars[column] = cars[column].fillna(cars[column].mode()[0])

In [5]:
# Percent values
cars.isna().sum() / len(cars), len(cars)

(year            0.000000
 manufacturer    0.000000
 condition       0.368606
 cylinders       0.283064
 fuel            0.000000
 title_status    0.000000
 transmission    0.000000
 drive           0.132802
 size            0.581336
 type            0.115667
 paint_color     0.197346
 price           0.000000
 dtype: float64,
 434542)

## **One Hot Encoding**

In [6]:
# Data type
cars.dtypes

year             int64
manufacturer    object
condition       object
cylinders       object
fuel            object
title_status    object
transmission    object
drive           object
size            object
type            object
paint_color     object
price            int64
dtype: object

In [7]:
for column in cars.columns:
    if cars[column].dtype != 'int64':
        print(f'{column}')
        print(f'{cars[column].unique()}')

manufacturer
['chevrolet' 'gmc' 'pontiac' 'ford' 'toyota' 'ram' 'jeep' 'cadillac'
 'honda' 'nissan' 'volkswagen' 'bmw' 'buick' 'chrysler' 'mini' 'mazda'
 'mercury' 'kia' 'hyundai' 'mitsubishi' 'infiniti' 'lexus' 'subaru'
 'lincoln' 'dodge' 'acura' 'saturn' 'audi' 'mercedes-benz' 'volvo'
 'jaguar' 'rover' 'fiat' 'porche' 'alfa-romeo' 'harley-davidson'
 'land rover' 'aston-martin' 'datsun' 'morgan' 'hennessey' 'ferrari']
condition
['good' 'excellent' 'fair' nan 'like new' 'salvage' 'new']
cylinders
['8 cylinders' '4 cylinders' '6 cylinders' '3 cylinders' nan
 '10 cylinders' 'other' '5 cylinders' '12 cylinders']
fuel
['gas' 'diesel' 'hybrid' 'electric' 'other']
title_status
['clean' 'missing' 'lien' 'rebuilt' 'salvage' 'parts only']
transmission
['automatic' 'manual' 'other']
drive
['rwd' '4wd' 'fwd' nan]
size
['full-size' nan 'compact' 'mid-size' 'sub-compact']
type
['SUV' 'pickup' 'convertible' 'truck' 'sedan' nan 'coupe' 'van'
 'hatchback' 'other' 'wagon' 'mini-van' 'offroad' 'bus']
paint_color
['white' 'red' 'silver' 'black' 'brown' nan 'green' 'blue' 'grey' 'yellow'
 'custom' 'orange' 'purple']

In [8]:
for column in cars.columns:
    if cars[column].dtype != 'int64':
        one_hot = pd.get_dummies(cars[column])
        cars.drop(column, axis=1, inplace=True)
        cars = pd.concat([cars, one_hot], axis=1)

In [9]:
cars.drop('other', axis=1, inplace=True)

In [10]:
cars.shape

(434542, 100)

In [ ]:
cars.to_csv('data/processed/used_cars.csv', index=None)